extends ../components/base/layout

block variables
    - const title = "test"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"
    //- - const backgroundImageUrl = "img/content/header2.png"

block main
    main
        +intro()
        +card()
        +tape()
        +tools()
        +form()
        +hack()
        +reviews()
        //- +directions()
        //- +help()
        //- +creators()
        //- +team()
        //- +video()
        //- +story()
        //- +podcast()
        //- +grade()
        //- +reviews()
        //- +whrite()
        //- +trust()
        //- +form()
        //- +order()
        //- +marquee() 
        //- +catalog()
        //- +workshop()
        //- +delivery()
        //- +contacts()