mixin creators()
    section.creators 
        .container 
            .creators__wrapper 
                .creators__left
                    <div class="container-title"><span class="position-absolute">Основатели</span>
                        <div class="container-small">СОЗДАТЕЛИ SMILECLINIC</div>
                    </div>
                    .creators__text-block
                        p.creators__text Стоматология для нас - это призвание <br><br>Мы постоянно ищем и внедряем последние разработки со всего мира. Это позволяет нашим пациентам получать красивые улыбки еще быстрее, комфортнее и на еще более длительный срок. <br><br>Впитав любовь к медицине с детства, мы с гордостью передаем ее и другим поколениям. SmileClinic — это больше, чем просто стоматология, наша команда стала для нас семьей, а многие пациенты — по-настоящему близкими друзьями.
                .creators__right
                    .creators__image 
                        img(src="img/content/creators.png" alt="Основатели клиники")
                    .creators__name 
                        span ИЛЬЯ СКЛЯРОВ И МАРГАРИТА КУШНИР
                        p Основали SmileClinic в 2006 году, <br>будучи уже известными докторами в Санкт-Петербурге.