mixin delivery()
    section.delivery 
        .container
            .delivery__wrapper 
                .delivery__titles.titles
                    h2.delivery__title.title Доставка и Оплата
                    +icon('title', 395, 21)
                .delivery__bg 
                    +icon('car', 372, 276) 
                h3.delivery__name Доставка
                    +icon('car-mb', 61, 37)
                .delivery__slider.swiper(data-slider="delivery")
                    .swiper-wrapper 
                        .swiper-slide 
                            p.delivery__text Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие обеспечивает актуальность модели развития! Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие обеспечивает актуальность модели развития!
                        .swiper-slide 
                            p.delivery__text Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие обеспечивает актуальность модели развития!
                        .swiper-slide 
                            p.delivery__text Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие обеспечивает актуальность модели развития! Высокий уровень вовлечения представителей целевой аудитории
                .delivery__buttons 
                    .swiper-button-next.delivery__next
                        +icon('arrow-up', 60, 60) 
                    .swiper-pagination.delivery__pagination
                    .swiper-button-prev.delivery__prev
                        +icon('arrow-up', 60, 60)