mixin directions()
    section.directions 
        .container 
            .directions__wrapper 
                h2.directions__title Основные направления
                ul.directions__list 
                    li.directions__item 
                        a(href="#!")
                            .directions__image 
                                img(src="img/content/dir1.png" alt="План работ стоматологии")
                            p.directions__text Имплантация
                    li.directions__item 
                         a(href="#!")
                            .directions__image 
                                img(src="img/content/dir2.png" alt="План работ стоматологии")
                            p.directions__text Хирургия
                    li.directions__item 
                         a(href="#!")
                            .directions__image.directions__image--big 
                                img(src="img/content/dir3.png" alt="План работ стоматологии")
                            p.directions__text.directions__text--white Терапия
                    li.directions__item 
                         a(href="#!")
                            .directions__image.directions__image--big 
                                img(src="img/content/dir4.png" alt="План работ стоматологии")
                            p.directions__text.directions__text--white Гигиена
                    li.directions__item 
                         a(href="#!")
                            .directions__image 
                                img(src="img/content/dir5.png" alt="План работ стоматологии")
                            p.directions__text Эстетика
                    li.directions__item 
                         a(href="#!")
                            .directions__image 
                                img(src="img/content/dir6.png" alt="План работ стоматологии")
                            p.directions__text Ортодонтия