mixin help()
    section.help 
        .container 
            .help__wrapper
                h2.help__title Поможем определиться <br>с нужным направлением
                ul.help__list 
                    li.help__item 
                        .help__image 
                            img(src="img/content/help1.png" alt="Врач")
                        .help__info 
                            p.help__text Первая <br>консультация
                            p.help__subtext На этом обязательном этапе лечащая команда знакомится с пациентом, обсуждает пожелания и составляет план лечения
                    li.help__item 
                        .help__info 
                            p.help__text Осмотр <br>и снимки
                            p.help__subtext Используем новейшие методики диагностики. Компьютерная томография и  искусственный интеллект позволят рассмотреть каждый зуб по отдельности и состояние ротовой полости в целом
                    li.help__item
                        .help__info 
                            p.help__text Проверка зубов <br>на скрытый кариес
                            p.help__subtext Осмотр специальной видеокамерой «Диагнокам», которая позволяет проверить все зубы на наличие скрытых кариесов, прячущихся в недоступных глазу местах.
                    li.help__item 
                        .help__info 
                            p.help__text Фото и видеопротокол <br>челюсти
                            p.help__subtext Для идеальной первичной консультации необходим 3D-снимок зубов пациента. Фото и 3D моделирование внешнего вида пациента даст возможность увидеть потенциальный результат в конце лечения
                    li.help__item 
                        .help__info 
                            p.help__text Презентация плана <br>лечения
                            p.help__subtext После первичного приема врач разрабатывает план лечения, который затем обсуждается на консилиуме с коллегами. После этого пациенту презентуются варианты лечения
                .help__bottom 
                    button(type="button").help__btn Записаться на прием
                    p.help__subtext Предложим детальный план лечения после <br>первичного осмотра!