mixin intro()
    section.intro 
        .container 
            .intro__wrapper
                .intro__top
                    span.intro__span Мы поможем подобрать
                    h1.intro__title  <span>станок</span> <br>под вашу задачу
                    p.intro__text Ответьте на 5 вопросов и получите список моделей
                    a(href="#!").intro__link Пройти опрос
                <div class="intro__slider-wrapper">
                <div class="intro__slider" data-slider="intro">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-green">
                    <div class="slide-content">
                        <div class="slide-tag">Комбинированный станок</div>
                        <h3 class="slide-title">Smart M 12/300 K</h3>
                        <p class="slide-desc">Токарно-фрезерный в одном корпусе<br>Для прутка до 12 мм. Универсальное решение<br>для цветных металлов и стали.</p>
                        <a href="#" class="slide-link">Выбрать станок</a>
                    </div>
                    <div class="slide-image">
                        <img src="img/content/intro1.png" alt="Smart M 12/300 K" />
                    </div>
                    </div>

                    <div class="swiper-slide slide-dark">
                    <div class="slide-content">
                        <div class="slide-tag">Токарный станок</div>
                        <h3 class="slide-title">Speed T 40/300</h3>
                        <p class="slide-desc">Для работы с прутком диаметром до 40 мм.<br>Подходит для обработки цветных металлов, стали<br>и нержавейки.
                        </p>
                        <a href="#" class="slide-link">Выбрать станок</a>
                    </div>
                    <div class="slide-image">
                        <img src="img/content/intro2.png" alt="Speed T 40/300" />
                    </div>
                    </div>

                    <div class="swiper-slide slide-white">
                    <div class="slide-content">
                        <div class="slide-tag">Фрезерный центр</div>
                        <h3 class="slide-title">VMC 2000 (M)</h3>
                        <p class="slide-desc">Рабочее поле: 2000×700×600 мм<br>Точно режет цветные металлы, сталь и нержавейку.</p>
                        <a href="#" class="slide-link">Выбрать станок</a>
                    </div>
                    <div class="slide-image">
                        <img src="img/content/intro3.png" alt="VMC 2000 (M)" />
                    </div>
                    </div>
                </div>

                </div>
                .intro__buttons
                    .swiper-button-next.intro__next
                        +icon('arrow-left', 50, 50) 
                    .swiper-button-prev.intro__prev
                        +icon('arrow-left', 50, 50) 
                </div>