mixin marquee()
    section.marquee
        .marquee__content
            .marquee__slide
                +icon('gift', 42, 42)
                p Красивый и оригинальный подарок для любого случая
            .marquee__slide
                +icon('eco', 42, 42)
                p Экологически чистый и безопасный материал
            .marquee__slide
                +icon('truck', 42, 42)
                p Доставку в любую точку страны