mixin story()
    section.story 
        .container 
            .story__wrapper 
                .story__top
                    .story__titles
                        h2.story__title Истории пациентов
                        h2.story__title-mobile Кейсы
                        p.story__text Качество и скорость лечения. Команда SmileClinic выбирает всё самое эффективное и надежное для долговечного результата лечения — от международных программ дополнительного обучения врачей до идеального оборудования клиники
                    .story__buttons 
                        .swiper-button-next.story__next
                            +icon('arrow-left', 50, 50) 
                        .swiper-button-prev.story__prev
                            +icon('arrow-left', 50, 50) 
                .story__slider.swiper(data-slider="story")
                    .swiper-wrapper
                        .swiper-slide 
                            .story__images 
                                .story__image
                                    img(src="img/content/story1.png" alt="Кейс")
                                    p После
                                .story__img 
                                    img(src="img/content/story2.png" alt="Кейс")
                                    p До
                            h3.story__name Глаша Гурьянова
                            a(href="#!").story__link Читать историю
                        .swiper-slide 
                            .story__images 
                                .story__image
                                    img(src="img/content/story1.png" alt="Кейс")
                                    p После
                                .story__img 
                                    img(src="img/content/story2.png" alt="Кейс")
                                    p До
                            h3.story__name Глаша Гурьянова
                            a(href="#!").story__link Читать историю
                        .swiper-slide 
                            .story__images 
                                .story__image
                                    img(src="img/content/story1.png" alt="Кейс")
                                    p После
                                .story__img 
                                    img(src="img/content/story2.png" alt="Кейс")
                                    p До
                            h3.story__name Глаша Гурьянова
                            a(href="#!").story__link Читать историю
                        .swiper-slide 
                            .story__images 
                                .story__image
                                    img(src="img/content/story1.png" alt="Кейс")
                                    p После
                                .story__img 
                                    img(src="img/content/story2.png" alt="Кейс")
                                    p До
                            h3.story__name Глаша Гурьянова
                            a(href="#!").story__link Читать историю
                        .swiper-slide 
                            .story__images 
                                .story__image
                                    img(src="img/content/story1.png" alt="Кейс")
                                    p После
                                .story__img 
                                    img(src="img/content/story2.png" alt="Кейс")
                                    p До
                            h3.story__name Глаша Гурьянова
                            a(href="#!").story__link Читать историю
                .story__buttons-mobile
                    .swiper-button-next.story__next
                        +icon('arrow-left', 50, 50) 
                    .swiper-button-prev.story__prev
                        +icon('arrow-left', 50, 50) 

                