mixin tape()
    section.tape 
        .container 
            .tape__bg 
                +icon('lemon', 213, 265)
            .tape__bgl 
                +icon('lemon', 213, 265)
            .tape__wrapper 
                h2.tape__title С Citrus <br>вы получите:
                .tape__block 
                    .tape__slider 
                        .tape__slider-content
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Технологический аудит:
                                        p анализ процессов и устранение проблемных мест.
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Сопровождение на всех этапах:
                                        p от разработки до внедрения.
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Разработку оснастки:
                                        p от токарных и фрезерных станков до полноценной линии
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Консультации и обучение
                                        p персонала для эффективной работы с новым оборудованием.
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Автоматизацию процессов:
                                        p внедрение решений для токарных и фрезерных станков.
                            .swiper-slide 
                                .tape-image 
                                    img(src="img/content/box.png" alt="Коробка")
                                    .tape-info 
                                        span Оптимизацию процессов:
                                        p сокращение затрат и повышение точности обработки.
                    .tape__conw  
                        .tape__top
                            img(src="img/content/top.png")
                        .tape__conw-content
                            +icon('conw', 87, 320) 
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320) 
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320) 
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                            +icon('conw', 87, 320)
                        .tape__bottom
                            img(src="img/content/bottom.png")