.card {
    overflow: hidden;

    &__wrapper {
        padding: 150px 0;

        @media screen and (max-width: 1120px) {
            padding: 90px 0;
        }
    }

    .indicators {
        display: none;
    }

    &__slider {
        width: 100%;
        height: 100%;
        
        touch-action: pan-y;
        @media screen and (max-width: 1120px) {
            width: 850px;
            height: 100%;
        }

        @media screen and (max-width: 850px) {
            width: 100%;
            overflow-x: visible;
        }
    }

   

   

    .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        @media screen and (max-width: 1120px) {
            display: flex;
            height: auto;
            gap: 0;
            // transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1) !important;
        }
    }

    &__slider .swiper-slide {
        @media screen and (max-width: 1120px) {
            
            position: relative;
            height: 550px;
            text-align: center;
            aspect-ratio: 3/4;
            width: 420px;
            overflow: hidden;
            border-radius: 32px;
            padding: 30px;
            touch-action: pan-y;
            transform-style: preserve-3d;
            backface-visibility: hidden;     
            perspective: 1000px;        
            -webkit-transform: translateZ(0);
            transform: translateZ(0);    
    
        @media screen and (max-width: 500px) {
            width: 320px;
        }
            
        }
    }

    &__slider .swiper-slide:nth-child(n+4) {
        display: none !important;

        @media screen and (max-width: 1120px) {
            display: flex !important;
        }
    }

    .swiper-slide.slide-dark1 {
        background: linear-gradient(139.42deg, #252525 2.23%, #5C5C5C 97.41%);
        padding: 28px 32px 32px;
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        // overflow: hidden;
        .card__text {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 42px;
            line-height: 90%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(251, 251, 251, 1);
            margin: 0 auto 23px;
            max-width: 350px;
            @include vp-767 {
                font-size: 32px;
            }

            @include vp-389 {
                font-size: 24px;
            }
        }

        .card__list {
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-bottom: 30px;
            max-width: 320px;
            padding-left: 20px;
            text-align: start;
        }

        .card__item {
            list-style: disc;
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: -2%;
            color: rgba(251, 251, 251, 0.5);
            margin: 0 0 0px;
        }

        .card__image {
            width: 100%;
            height: auto;
            margin: 32px auto 0;
            display: block;
            position: relative;
            
            svg {
                width: 292px;
                height: 225px;
                flex-shrink: 0;
                margin: 0 auto;
                display: block;
                position: relative;
                transition: .3s;
            }

            img {
                position: absolute;
                top: -40px;
                width: 434px;
                height: 395px;
                object-fit: contain;
                opacity: 0;
                transition: .3s;

                @media screen and (max-width: 1150px) {
                    top: -40px;
                    width: 390px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        .card__image:hover svg {
            opacity: 0;
        }

        .card__image:hover img {
            opacity: 1;
            z-index: 1;
        }
    }

    .card__link {
        max-width: 100%;
        background: rgba(20, 21, 17, 1);
        font-family: SF Pro Display;
        font-weight: 500;
        font-size: 17px;
        leading-trim: Cap height;
        line-height: 120%;
        letter-spacing: 0%;
        color: rgba(251, 251, 251, 1);
        padding: 18px;
        border-radius: 12px;
        text-align: center;
        margin-top: auto;
        transition: .3s;
    }

    .card__link:hover {
        background: rgba(43, 45, 37, 1);
        transform: scale(1.05);
    }


    .swiper-slide.slide-white1 {
        background: linear-gradient(149.22deg, #F0F0F0 2.22%, #E9E9E9 86.7%);
        // overflow: hidden;
        padding: 28px 32px 32px;
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        .card__text {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 42px;
            line-height: 90%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(20, 21, 17, 1);
            margin: 0 auto 23px;
            max-width: 350px;
            @include vp-767 {
                font-size: 32px;
            }

            @include vp-389 {
                font-size: 24px;
            }
        }

        .card__list {
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-bottom: 30px;
            max-width: 320px;
            padding-left: 20px;
            text-align: start;
        }

        .card__item {
            list-style: disc;
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: -2%;
            color: rgba(20, 21, 17, 0.5);
            margin: 0 0 0px;
        }

        .card__image {
            width: 100%;
            height: auto;
            margin: 32px auto 0;
            display: block;
            position: relative;
            svg {
                width: 292px;
                height: 225px;
                flex-shrink: 0;
                margin: 0 auto;
                display: block;
                position: relative;
                transition: .3s;
            }

            img {
                position: absolute;
                top: -40px;
                width: 434px;
                height: 395px;
                object-fit: contain;
                opacity: 0;
                transition: .3s;

                @media screen and (max-width: 1150px) {
                    top: -40px;
                    width: 390px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        .card__image:hover svg {
            opacity: 0;
        }

        .card__image:hover img {
            opacity: 1;
        }
    }

    .swiper-slide.slide-green1 {
        background: linear-gradient(139.24deg, #BEFF78 1.31%, #CDEB69 99.04%);
        // overflow: hidden;

        padding: 28px 32px 32px;
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        .card__text {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 42px;
            line-height: 90%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(20, 21, 17, 1);
            margin: 0 auto 23px;
            max-width: 350px;
            @include vp-767 {
                font-size: 32px;
            }

            @include vp-389 {
                font-size: 24px;
            }
        }

        .card__list {
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-bottom: 30px;
            max-width: 320px;
            padding-left: 20px;
            text-align: start;
        }

        .card__item {
            list-style: disc;
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: -2%;
            color: rgba(20, 21, 17, 0.5);
            margin: 0 0 0px;
        }

        .card__image {
            width: 100%;
            height: auto;
            margin: 32px auto 0;
            display: block;
            position: relative;
            svg {
                width: 292px;
                height: 225px;
                flex-shrink: 0;
                margin: 0 auto;
                display: block;
                position: relative;
                transition: .3s;
            }

            img {
                position: absolute;
                top: -40px;
                width: 434px;
                height: 395px;
                object-fit: contain;
                opacity: 0;
                transition: .3s;

                @media screen and (max-width: 1150px) {
                    top: -40px;
                    width: 390px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        .card__image:hover svg {
            opacity: 0;
        }

        .card__image:hover img {
            opacity: 1;
        }
    }


    
}