.intro {
    background: rgba(20, 21, 17, 1);
    background-image: url(../img/sprite/bg.svg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;

    &__wrapper {
        padding: 170px 0 0;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
        
    }

    &__span {
        font-family: SF Pro Display;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -3%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(251, 251, 251, 0.5);
        margin: 0;

        @include vp-1023 {
            font-size: 24px;
        }
    }

    &__title {
        font-family: SF Pro Display;
        font-weight: 600;
        font-size: 112px;
        line-height: 90%;
        letter-spacing: -5%;
        text-align: center;
        text-transform: uppercase;
        color: #CDEB69;
        margin: 0;

        span {
            color: rgba(251, 251, 251, 1);
        }

        @media screen and (max-width: 1150px) {
            font-size: 100px;
        }

        @include vp-1023 {
            font-size: 76px;
        }

        @include vp-767 {
            font-size: 56px;
        }
    }

    &__text {
        font-family: SF Pro Display;
        font-weight: 400;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: -2%;
        text-align: center;
        color: rgba(251, 251, 251, 1);
        margin: 0;
    }

    &__link {
        max-width: 215px;
        width: 100%;
        background: rgba(205, 235, 105, 1);
        font-family: SF Pro Display;
        font-weight: 500;
        font-size: 17px;
        leading-trim: Cap height;
        line-height: 120%;
        letter-spacing: 0%;
        color: rgba(20, 21, 17, 1);
        padding: 18px;
        border-radius: 8px;
        display: inline;
        text-align: center;
        margin-bottom: 20px;
        transition: .3s;
    }

    &__link:hover {
        background: #85A716;
    }


    .intro__slider {
        width: 850px;
        margin-bottom: -80px;

        @media screen and (max-width: 850px) {
            width: 100%;
            overflow-x: visible;
        }
    }
    

    .slider-wrapper {
       height: auto;
    }

    .swiper-slide {
        position: relative;
        height: 550px;
        text-align: center;
        aspect-ratio: 3/4;
        width: 420px;
        overflow: hidden;
        border-radius: 32px;
        padding: 30px;
        touch-action: pan-y;
        @media screen and (max-width: 500px) {
            width: 320px;
        }
    }

    .slide-image {
        user-select: none;
        pointer-events: none;
    }

    
    
    .slide-green {
        background: linear-gradient(144.1deg, #B7FF6A 1.45%, #CDEB69 85.52%);
        // position: relative;
        // transition: .3s;
         z-index: -1 !important;
        .slide-tag {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 14px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(20, 21, 17, 0.5);
            margin: 0 auto 24px;
            background: rgba(20, 21, 17, 0.1);
            max-width: 220px;
            padding: 8px 16px;
            border-radius: 100px;
        }

        .slide-title {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 44px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(20, 21, 17, 1);
            margin: 0 0 24px;

            @media screen and (max-width: 1150px) {
                font-size: 40px;
            }

            @include vp-767 {
                font-size: 32px
            }
        }

        .slide-desc {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 130%;
            letter-spacing: -2%;
            text-align: center;
            color: rgba(20, 21, 17, 0.5);
            margin: 0 0 32px;

            @include vp-767 {
                font-size: 16px;
            }
        }

        .slide-link {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 120%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: rgba(20, 21, 17, 1);
            text-align: center;
            transition: .3s;
        }

        .slide-link:hover {
            opacity: 0.7;
            
        }

        .slide-image {
            width: 400px;
            height: 250px;
            position: relative;
            bottom: -50px;
            transform: rotate(5deg);
            pointer-events: none;
            user-select: none;
            z-index: -1;
            transition: .3s;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .slide-green::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(124, 181, 78, 1);
        top: 40px;
        left: 40px;

        @include vp-767 {
            top: 34px;
            left: 16px;
        }
    }

    .slide-green::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(124, 181, 78, 1);
        top: 40px;
        right: 40px;

        @include vp-767 {
            top: 34px;
            right: 16px;
        }
    }

    .swiper-slide.slide-green.active {
        .slide-image {
            bottom: -10px;
            transform: scale(1.1) rotate(5deg);
        }
    }

    // .slide-green.swiper-slide-active {
    //     .slide-image {
    //         bottom: -20px;
    //     }
    // }

    .slide-dark {
        background: linear-gradient(139.42deg, #252525 2.23%, #5C5C5C 97.41%);
        // position: relative;
        
        .slide-tag {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 14px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(251, 251, 251, 0.5);
            margin: 0 auto 24px;
            background: rgba(20, 21, 17, 0.4);
            max-width: 220px;
            padding: 8px 16px;
            border-radius: 100px;
        }

        .slide-title {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 45px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(251, 251, 251, 1);
            margin: 0 0 24px;

            @media screen and (max-width: 1150px) {
                font-size: 40px;
            }

            @include vp-767 {
                font-size: 32px
            }
        }

        .slide-desc {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 130%;
            letter-spacing: -2%;
            text-align: center;
            color: rgba(251, 251, 251, 0.5);
            margin: 0 0 32px;

            @include vp-767 {
                font-size: 16px;
            }
        }

        .slide-link {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 120%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: rgba(251, 251, 251, 1);
            text-align: center;
            transition: .3s;
        }

        .slide-link:hover {
            opacity: 0.7;
            
        }

        .slide-image {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 70px;
            left: -30px;
            pointer-events: none;
            transition: .3s;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .slide-dark::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(20, 21, 17, 0.5);
        top: 40px;
        left: 40px;

        @include vp-767 {
            top: 34px;
            left: 16px;
        }
    }

    .slide-dark::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(20, 21, 17, 0.5);
        top: 40px;
        right: 40px;

        @include vp-767 {
            top: 34px;
            right: 16px;
        }
    }

    .swiper-slide.slide-dark.active {
        .slide-image {
            width: 110%;
            height: 70%;
            bottom: 30px;
            left: -30px;
        }
    }

    .slide-white {
        background: linear-gradient(149.22deg, #F0F0F0 40.88%, #E3E3E3 86.7%);
        // position: relative;


        .slide-tag {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 14px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: #FBFBFB;
            margin: 0 auto 24px;
            background: rgba(20, 21, 17, 0.2);
            max-width: 220px;
            padding: 8px 16px;
            border-radius: 100px;
            position: relative;
            z-index: 11;
        }

        .slide-title {
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 45px;
            leading-trim: Cap height;
            line-height: 100%;
            letter-spacing: -3%;
            text-align: center;
            color: rgba(20, 21, 17, 1);
            margin: 0 0 24px;

            @media screen and (max-width: 1150px) {
                font-size: 40px;
            }

            @include vp-767 {
                font-size: 32px
            }
        }

        .slide-desc {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 130%;
            letter-spacing: -2%;
            text-align: center;
            color: rgba(20, 21, 17, 0.5);
            margin: 0 0 32px;

            @include vp-767 {
                font-size: 16px;
            }
        }

        .slide-link {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 17px;
            leading-trim: Cap height;
            line-height: 120%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: rgba(20, 21, 17, 1);
            text-align: center;
            transition: .3s;
        }

        .slide-link:hover {
            opacity: 0.7;
            
        }

        .slide-image {
            width: 450px;
            height: 350px;
            position: relative;
            bottom: 0px;
            left: -75px;
            transform: rotate(-5deg);
            pointer-events: none;
            transition: .3s;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .slide-white::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(197, 197, 196, 1);
        top: 40px;
        left: 40px;

        @include vp-767 {
            top: 34px;
            left: 16px;
        }
    }

    .slide-white::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(197, 197, 196, 1);
        top: 40px;
        right: 40px;

        @include vp-767 {
            top: 34px;
            right: 16px;
        }
    }

    .swiper-slide.slide-white.active {
        .slide-image {
            bottom: 45px;
            transform: scale(1.1) rotate(-5deg);
        }
    }
    
    .slide-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .rotate-wrapper {
        display: block;
        transition: transform 0.3s ease;
      }
      
    .slide-white.rotate-tilt .rotate-wrapper {
        transform: rotate(-11deg);
    }
    

    &__buttons {
        position: absolute;
        top: 77%;
        left: 50%;
        padding: 4px;
        display: none;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        width: 100%;
        transform: translateX(-50%);
        align-items: center;
        
        border-radius: 12px;
        
        @include vp-389 {
            display: flex;
        }

        .Carousel-prev,
        .Carousel-next {
        
            width: 40px;
            height: 40px;
            transition: .3s;
            svg {
                width: 40px;
                height: 40px;
                transition: .3s;
            }

           

        }
        
        .Carousel-prev {
            transform: rotate(180deg);
        }
        
    }

    

    // .b {
    //     transform: translate3d(-130px, 200px, -220px) rotateX(-25deg) rotateY(50deg) scale(1);
    // }
}