mixin footer()
  footer.footer
    .container 
      .footer__wrapper  
        .footer__block 
          .footer__top
            a(href="#!").footer__logo
              +icon('footer-logo', 103, 125)
            .footer__day 
              span время работы, Пн–Пт
          .footer__bottom 
            .footer__contacts  
              a(href="tel:+77777777777") + 7 (777) 777-77-77
              a(href="mailto:почта@gmail.com") почта@gmail.com
            .footer__social 
              a(href="#!")
                +icon('what', 32, 32)
              a(href="#!")
                +icon('vk', 32, 32)
              a(href="#!")
                +icon('tel', 32, 32)
        .footer__menu
          p.footer__menu-text Помощь
          ul.footer__list 
            li.footer__item 
              a(href="#!").footer__link Оферта
            li.footer__item 
              a(href="#!").footer__link Политика конфиденциальности
            li.footer__item 
              a(href="#!").footer__link Согласие на обработку данных
            li.footer__item 
              a(href="#!").footer__link Калькулятор режимов резания
        .footer__menu 
          p.footer__menu-text Станки
          ul.footer__list 
            li.footer__item 
              a(href="#!").footer__link Токарные
            li.footer__item 
              a(href="#!").footer__link Фрезерные
            li.footer__item 
              a(href="#!").footer__link Комбинированные
        
        .footer__menu
          p.footer__menu-text Техноблог
          ul.footer__list 
            li.footer__item 
              a(href="#!").footer__link Блог
            li.footer__item 
              a(href="#!").footer__link Проекты
            li.footer__item 
              a(href="#!").footer__link Видео
            li.footer__item 
              a(href="#!").footer__link PDF-каталоги
        //- .footer__menu
        //-   p.footer__menu-text Компания
        //-   ul.footer__list 
        //-     li.footer__item 
        //-       a(href="#!").footer__link О компании
        //-     li.footer__item 
        //-       a(href="#!").footer__link Оплата и доставка
        //-     li.footer__item 
        //-       a(href="#!").footer__link Лицензии
        //-     li.footer__item 
        //-       a(href="#!").footer__link Новости
        //-     li.footer__item 
        //-       a(href="#!").footer__link Отзывы
        //-     li.footer__item 
        //-       a(href="#!").footer__link Вакансии
        //-     li.footer__item 
        //-       a(href="#!").footer__link Скидки
        //-     li.footer__item 
        //-       a(href="#!").footer__link Гарантия
        //-     li.footer__item 
        //-       a(href="#!").footer__link Сотрудничество
        .footer__menu
          p.footer__menu-text Сервис и инжиниринг
          ul.footer__list 
            li.footer__item 
              a(href="#!").footer__link О компании
            li.footer__item 
              a(href="#!").footer__link Оплата и доставка
            li.footer__item 
              a(href="#!").footer__link Лицензии
            li.footer__item 
              a(href="#!").footer__link Новости
            li.footer__item 
              a(href="#!").footer__link Отзывы
            li.footer__item 
              a(href="#!").footer__link Вакансии
            li.footer__item 
              a(href="#!").footer__link Скидки
            li.footer__item 
              a(href="#!").footer__link Гарантия
            li.footer__item 
              a(href="#!").footer__link Сотрудничество
        
        
